@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../components/atoms/Checkbox/style.css';
/* @import '../components/molecules/SwiperCarousel/styles.css'; */
@import '../components/organisms/Carousel/styles.css';
@import '../components/organisms/StepsSwitchCard/styles.css';
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Lato", "sans-serif";
}

.hero-section {
  background-image: url("/Large Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-section-2 {
  background-image: url("/Hero Girl-1.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-section-general {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
.ant-reset {
  background: none ;
  border: none ;
  padding: 0;
  margin: 0 ;
  font: inherit ;
  color: inherit ;
  text-align: inherit ;
  outline: none ;
  cursor: pointer ;
  appearance: none ;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
  border-bottom: 2px solid #80334b !important;
  padding: 0 !important;
}
.ant-tabs-ink-bar {
  background-color: #80334b !important;
}
.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: black !important;
}
.ant-tabs-tab {
  color: #676069 !important;
}

.ant-tabs-nav {
  justify-content: center !important;
  z-index: 10 !important;
}
.ant-tabs-nav-wrap {
  justify-content: center !important;
}
:where(.css-dev-only-do-not-override-49qm).ant-tabs-top
  > .ant-tabs-nav::before {
  border-bottom: none !important;
}
.second-tabs .ant-tabs-nav {
  justify-content: flex-start !important; /* Example: Align to the left */
}

.second-tabs .ant-tabs-nav-wrap {
  justify-content: flex-start !important;
}

 .ant-tabs .second-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  border-bottom: 2px solid #80334b !important;
  padding: 0 !important;
}
.second-tabs p {
  color: white !important;
}
.second-tabs h1 {
  color: white !important;
}


.second-tabs .ant-tabs-nav-wrap {
  justify-content: flex-start !important;
}

.custom-date-picker .ant-picker-suffix {
  color: #151515;
}




