/* Checkbox */

.custom-checkbox .ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  &:hover{
    background-color: #1a3c5e !important;
  }
}

.custom-checkbox .ant-checkbox {
  display: flex;
  align-items: center;
  
}

.custom-checkbox .ant-checkbox .ant-checkbox-inner {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #676069;
  background-color: transparent;
  
}
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1a3c5e;
  border-color: #1a3c5e;

}
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff;
  width: 5px;
  height: 9px;
  left: 6px;
  top: 9px;

}